:root {
    --main-bg-color: #e6d554;
    --sub-bg-color: white;
    --top-height: 100px;
    --main-transition: all 0.3s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
.rơw-gird {
    display: grid;
    justify-content: space-between;
}
.admin .rơw-gird {
    grid-template-columns: 20% 80%;
}
/*admin-all*/
.admin-all {
    height: 100vh;
    background-color: var(--main-bg-color);
    
}

.admin-all-top {
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}
.admin-all-top img {
    width: 100%;
    height: 100%;
}
.admin-all-content > ul > li > a {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;

}
.admin-all-content > ul > li > a i:last-child {
    margin-left: auto;
    
}
.admin-all-content {
    padding: 30px 0 0 30px;
    color: black;
}
.admin-all-content ul li  {
    padding: 6px;
    transition: var(--main-transition);
}
.admin-all-content ul li:hover {
    background-color: rgb(244, 241, 241);
}
.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}
.sub-menu li:hover a {
    color: rgb(152, 132, 5);
}
/*Content*/
.flex-box {
    display: flex;
   
}
.flex-box i {
    font-size: 30px;
    color: rgb(152, 132, 5);
}
.flex-box img {
    border-radius: 100%;
    width: 80px;
   
}


.admin-content {
    background-color: var(--sub-bg-color);
}
.admin-content-top {
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border: 1px solid gray;
    padding: 0 12px;
}
.admin-content-top .flex-box {
    height: 100px;
    align-items: center;
}
.admin-content-top i {
    margin-right: 12px;
    cursor: pointer;
}
.admin-content-top-right ul li:last-child p {
    cursor: pointer;
}
.admin-content-top-right ul li:first-child i {
    position: relative;
}
.admin-content-top-right ul li:first-child i::after {
    position: absolute;
    font-size: 12px;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: #4a87ce;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   


}
.admin-content-top-right ul li:nth-child(2) i {
    position: relative;
}
.admin-content-top-right ul li:nth-child(2) i::after {
    position: absolute;
    font-size: 12px;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: #e32918;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    

}
@keyframes notification {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.admin-all-content-main-text h1 {
    padding: 12px;
    font-weight: 500;
    position: relative;
}
.admin-all-content-main-text h1::before {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 80px;
    background-color: var(--main-bg-color);
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}