:root {
    --main-bg-color: #e6d554;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transition: all 0.3s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
.rơw-gird {
    display: grid;
    justify-content: space-between;
}.main-btn {
    padding: 10px 12px;
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.delete-class {
    padding: 3px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;

}
.edit-class {
    padding: 3px;
    background-color: green;
    color: whitesmoke;
    border-radius: 5px;

}
.confirm-order-one {
    padding: 3px;
    background-color: green;
    color: whitesmoke;
    border-radius: 5px;

}
.confirm-order-two {
    padding: 3px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;


}
.admin .rơw-gird {
    grid-template-columns: 20% 80%;
}
/*admin-all*/
.admin-all {
    height: 105vh;
    background-color: var(--main-bg-color);
    
}

.admin-all-top {
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}
.admin-all-top img {
    width: 200px;
    height: 70px;
    border-radius: 10px;
}
.admin-all-content > ul > li > a {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;

}
.admin-all-content > ul > li > a i:last-child {
    margin-left: auto;
    
}
.admin-all-content {
    padding: 30px 0 0 30px;
    color: black;
}
.admin-all-content ul li  {
    padding: 6px;
    transition: var(--main-transition);
}
.admin-all-content ul li:hover {
    background-color: rgb(244, 241, 241);
}
.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}
.sub-menu li:hover a {
    color: rgb(152, 132, 5);
}
/*Content*/
.flex-box {
    display: flex;
    
   
}
.flex-box i {
    font-size: 25px;
    color: rgb(152, 132, 5);
}
.flex-box img {
    border-radius: 100%;
    width: 80px;
   
}
/*admin-content*/

.admin-content {
    background-color: var(--sub-bg-color);
}
.admin-content-top {
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border: 1px solid gray;
    padding: 0 12px;
}
.admin-content-top .flex-box {
    height: 70px;
    align-items: center;
    
}
.admin-content-top i {
    margin-right: 12px;
    cursor: pointer;
}
.admin-content-top-right ul li:last-child p {
    cursor: pointer;
}
.admin-content-top-right ul li:first-child i {
    position: relative;
}
.admin-content-top-right ul li:first-child i::after {
    position: absolute;
    font-size: 12px;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: #4a87ce;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   


}
.admin-content-top-right ul li:nth-child(2) i {
    position: relative;
}
.admin-content-top-right ul li:nth-child(2) i::after {
    position: absolute;
    font-size: 12px;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: #e32918;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    

}
@keyframes notification {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.admin-all-content-main-text h1 {
    padding: 12px;
    font-weight: 500;
    position: relative;
}
.admin-all-content-main-text h1::before {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 80px;
    background-color: var(--main-bg-color);
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.admin-all-content-main-content {
    background-color: white;

}
/*prouct-add*/


.admin-all-content-main-content-prouct-add {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    column-gap: 20px;

}
.admin-all-content-main-content-prouct-add-left {
    width: 70%;
}
.admin-all-content-main-content-prouct-add-right {
    width: 30%;
}
.admin-all-content-main-content-prouct-add-left input{
    height: 40px;
    border: none;
    background-color:  var(--sub-bg-color);
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    padding-left: 6px;
}
.admin-all-content-main-content-prouct-add-input {
    display: flex;
    justify-content: space-between;
}
.admin-all-content-main-content-prouct-add-input:nth-child(1) input {
    width: 100%;
}
.admin-all-content-main-content-prouct-add-input input {
    width: 45%;
}
.admin-all-content-main-content-prouct-add-left textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
    background-color: var(--sub-bg-color);
}
.admin-all-content-main-content-prouct-add-right-image input {
    display: none;
}
.admin-all-content-main-content-prouct-add-right-images input {
    display: none;
}
.admin-all-content-main-content-prouct-add-right label {
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    height: 40px;
}
.image-show, .images-show {
    min-height: 150px;
}

/*prouct-list*/
.admin-all-content-main-content-prouct-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
.admin-all-content-main-content-prouct-list table,th,td {
    text-align: center;
}
.admin-all-content-main-content-prouct-list table th {
    background-color: rgb(50, 49, 49);
    color: white;
    padding: 6px 0px;
}

/*Order-list*/
.admin-all-content-main-content-order-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
.admin-all-content-main-content-order-list table a {
     display: inline-block;
}
.admin-all-content-main-content-order-list table,th,td {
    text-align: center;
}
.admin-all-content-main-content-order-list table th {
    background-color: rgb(50, 49, 49);
    color: white;
    padding: 6px 0px;
}
.admin-all-content-main-content-order-list table td {
    padding: 6px 0px;
}
/*List lua chon*/
.List-choice{
    width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.List-choice p{
    width: 200px;
    font-weight: 500;
}

.List-choice select{
    width: 300px;
    height: 35px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}